<div class="row">
  <div class="col md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>

    <%= render "shared/tabbed_interface" %>
  </div>
</div>

<!--2. Different association to display different sets of photos. Pattern persists. -->
<% @user.leaders.each do |following| %>
 <%= render "shared/following", following: following %>
<% end %>
