<div class="row">
  <div class="col md-6 offset-3">
    <h1>
      <%= @user.username %>
    </h1>

    <%= render "shared/tabbed_interface" %>
  </div>
</div>

<!--2. In order to make the tabs properly work. We have to use the specific associates we have defined before in order to display the PROPER photo list. The other view templates will have a different association defined based on the desired photo list.-->
<% @user.liked_photos.each do |photo| %>
 <%= render "photos/photo", photo: photo %>
<% end %>
